<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Gill's Team Builder</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <link rel="icon" href="/static/img/pokebola.png">
    <script src="/static/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js"></script>

</head>

<body>
    <header>
        <div id="cabecalho">
            <img id="logo-pokebola" src="/static/img/pokebola.png">
            <h2 id="titulo-cabecalho"><a href="index.html">Gill's Team Builder</a></h2>
            <ul>
                <li><a href="faq.html">FAQ</a></li>
            </ul>
        </div>
    </header>
    <section>
        <div id="container-slots">
            <div class="conjunto-slots">
                <img class="slot" id="slot-1" src="/static/img/slot.png">
                <img class="slot" id="slot-2" src="/static/img/slot.png">
                <img class="slot" id="slot-3" src="/static/img/slot.png">
                <img class="slot" id="slot-4" src="/static/img/slot.png">
                <img class="slot" id="slot-5" src="/static/img/slot.png">
                <img class="slot" id="slot-6" src="/static/img/slot.png">
            </div>
            <div class="conjunto-barras">
                <div class="container-barra-pesquisa">
                    <img class="lupa" src="/static/img/lupa.png">
                    <input type="text" id="barra-1" class="barra-pesquisa" placeholder="Insira sua escolha..." name="firstPokemon">
                </div>
                <div class="container-barra-pesquisa">
                    <img class="lupa" src="/static/img/lupa.png">
                    <input type="text" id="barra-2" class="barra-pesquisa" name="secondPokemon" readonly>
                </div>
                <div class="container-barra-pesquisa">
                    <img class="lupa" src="/static/img/lupa.png">
                    <input type="text" id="barra-3" class="barra-pesquisa" name="thirdPokemon" readonly>
                </div>
                <div class="container-barra-pesquisa">
                    <img class="lupa" src="/static/img/lupa.png">
                    <input type="text" id="barra-4" class="barra-pesquisa" name="fourthPokemon" readonly>
                </div>
                <div class="container-barra-pesquisa">
                    <img class="lupa" src="/static/img/lupa.png">
                    <input type="text" id="barra-5" class="barra-pesquisa" name="fifthPokemon" readonly>
                </div>
                <div class="container-barra-pesquisa">
                    <img class="lupa" src="/static/img/lupa.png">
                    <input type="text" id="barra-6" class="barra-pesquisa" name="sixthPokemon" readonly>
                </div>
            </div>

        </div>
        <div id="container-sugestoes">
            <div id="inner-container-sugestoes">
                <table>
                    <thead>
                        <caption>Pokémons frequentemente utilizados na mesma equipe:
                            <img id="clear-button" src="/static/img/refresh.png" alt="Limpar">
                        </caption>
                        <tr>
                            <th class="coluna" id="coluna-1">Pokémon</th>
                            <th class="coluna" id="coluna-2">Nome</th>
                            <th class="coluna" id="coluna-3">Tipo</th>
                            <th class="coluna" id="coluna-4">Confiança</th>
                            <th class="coluna" id="coluna-5">Lift</th>
                            <th class="coluna" id="coluna-6">Reforço contra</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <footer>
        <div id="rodape">
            <p id="descricao-rodape">
                <span id="titulo-rodape">Gill’s Team Builder</span><br>
                Showdown’s Ladder-based Pokemon Team Builder
            </p>
            <p id="assinatura-rodape">
                <span id="autor">Gilliard Rodrigues</span> | 2023
            </p>
            <div id="redes-sociais">
                <img id="logo-instagram" src="/static/img/logo_instagram.png">
                <p id="instagram">@gillrodrigues_</p>
                <br>
                <img id="logo-linkedin" src="/static/img/logo_linkedin.png">
                <p id="linkedin">gilliard-rodrigues</p>
            </div>
        </div>
    </footer>
</body>

</html>